In [1]:
# importing libraries
# https://anaconda.org/mzh/pyflux
import pandas as pd
import numpy as np
import seaborn as sns 
%matplotlib inline 
from pandas import datetime
from matplotlib import pyplot as plt
import os
from datetime import datetime
from statsmodels.tsa.arima_model import ARIMA
from matplotlib import pyplot
from pandas.plotting import autocorrelation_plot
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
import math
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
import pyflux as pf

C:\Users\m\anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  import sys

# Affluent Achievers

In [2]:
AA_a = pd.read_csv(r"\AA_anomalies.csv")

In [3]:
AA_a.head(5)

,Household_Id,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min,Usage_Type,Acorn,Acorn_grouped,file,Score,Anomaly,month
0,MAC000002,28/02/2013,0.4985,0.679750,1.978,48,0.542546,32.63,0.081,Fixed,ACORN-A,Affluent,block_0,-0.025364,-1,Feb
1,MAC000002,03/01/2013,0.3390,0.818417,2.524,48,0.723187,39.28,0.071,Fixed,ACORN-A,Affluent,block_0,-0.062630,-1,Jan
2,MAC000002,03/05/2013,0.7230,0.684500,2.374,48,0.500225,32.86,0.072,Fixed,ACORN-A,Affluent,block_0,-0.026612,-1,May
3,MAC000246,01/01/2013,0.5215,0.760667,3.244,48,0.703888,36.51,0.060,Fixed,ACORN-A,Affluent,block_0,-0.052497,-1,Jan
4,MAC000246,01/08/2013,0.6480,0.752000,2.949,48,0.822928,36.10,0.028,Fixed,ACORN-A,Affluent,block_0,-0.047265,-1,Aug

In [14]:
len(AA_a)

9387

In [5]:
grouped = (AA_a.groupby(
   ['month', 'Household_Id']
).agg(
    {
         'day': 'count'
    }
)).sort_values(by="day", ascending = False).reset_index()
print(grouped.head())

  month Household_Id  day
0   Mar    MAC004179   31
1   Mar    MAC004249   31
2   Aug    MAC003422   31
3   Oct    MAC004249   31
4   Oct    MAC004179   31

In [ ]:
g1 = AA_a.groupby

In [6]:
len(grouped)

1276

In [ ]:
# saving the combined data frame in folder
grouped.to_csv(r'C:\Users\m\Desktop\Masters Modules\MS5103 Business Analytics Project\Datasets\Smart Meters\Cleaned Data\daily_dataset\AA_anomalies_months.csv', index = False)

# Rising Prosperity

In [7]:
RP_a = pd.read_csv(r"\RP_anomalies.csv")

In [8]:
RP_a.head(5)

,Household_Id,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min,Usage_Type,Acorn,Acorn_grouped,file,Score,Anomaly,month
0,MAC000050,01/01/2013,0.5505,0.763500,2.071,48,0.588324,36.65,0.129,Fixed,ACORN-D,Affluent,block_7,-0.053299,-1,Jan
1,MAC000050,02/01/2013,0.4335,0.722083,2.423,48,0.677790,34.66,0.072,Fixed,ACORN-D,Affluent,block_7,-0.041453,-1,Jan
2,MAC000050,06/01/2013,0.5770,0.772729,2.983,48,0.746239,37.09,0.088,Fixed,ACORN-D,Affluent,block_7,-0.057965,-1,Jan
3,MAC000050,12/01/2013,0.7010,0.690479,2.573,48,0.629302,33.14,0.061,Fixed,ACORN-D,Affluent,block_7,-0.029326,-1,Jan
4,MAC000050,19/01/2013,0.6190,0.812625,2.896,48,0.759465,39.01,0.120,Fixed,ACORN-D,Affluent,block_7,-0.062630,-1,Jan

In [10]:
# dropping duplicate day rows
RP_a = RP_a.drop_duplicates(subset='day', keep='first')

In [11]:
grouped2 = (RP_a.groupby(
   ['month', 'Household_Id']
).agg(
    {
         'day': 'count'
    }
)).sort_values(by="day", ascending = False).reset_index()
print(grouped2.head())

  month Household_Id  day
0   Oct    MAC000073   17
1   Sep    MAC000073   15
2   May    MAC000073   15
3   Nov    MAC000073   15
4   Mar    MAC001766   15

In [12]:
len(grouped2)

74

In [13]:
# saving the combined data frame in folder
grouped2.to_csv(r'\RP_anomalies_months_t.csv', index = False)